name: Deploy Website

on:
  push:
    branches:
      - master
    paths:
      - 'website/**'
  workflow_dispatch:

permissions:
  contents: write

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Deploy to GitHub Pages
        uses: JamesIves/github-pages-deploy-action@v4
        with:
          folder: website # 部署 website 目录下的内容
          branch: gh-pages # 部署到 gh-pages 分支
          clean: true
